header {
	text-align: center;
	color: #004D40;
}

header img {
	margin: 0px auto 20px;
}

.jumbotron-header {
	background-color: #80CBC4;
	border-radius: 0px;
	border :none;
	margin: 0px;
}

header .header-title .laboratory-name {
	font-size: 4em;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
}

header .header-title .faculty-name {
	font-size: 3.3em;
	font-weight: 700;
	display: block;
}

header .header-title .university-name {
	font-size: 3em;
	font-weight: 600;
}


/* media screen */
@media(max-width: 980px){
	header .header-title .laboratory-name {
		font-size: 3.9em;
	}

	header .header-title .faculty-name {
		font-size: 2.2em;
	}

	header .header-title .university-name {
		font-size: 2.2em;
	}
}

@media(max-width: 360px){
	header .header-title .laboratory-name {
		font-size: 1.7em;
	}

	header .header-title .faculty-name {
		font-size: 0.9em;
	}

	header .header-title .university-name {
		font-size: 0.9em;
	}
}
/* media screen */
